In [27]:
import pandas as pd 
import numpy as np
import os
from sklearn.metrics import mean_squared_error as mse, r2_score as r2

In [36]:
df_res = pd.read_csv('../housing_res.csv')
true_values = df_res['median_house_value']

In [37]:
os.listdir("./201110_Stud_res")

['201115_Reznik_1.csv']

In [38]:
res_list = []
cur_dict = {}

for elem in os.listdir("./201110_Stud_res"):
    df_test = pd.read_csv(f'./201110_Stud_res/{elem}')
    pred_values = df_test['median_house_value']
    cur_dict['Att'] = elem
    cur_dict['Res'] = round(r2(true_values, pred_values), 5)
    res_list.append(cur_dict.copy())
    cur_duct = {}

In [39]:
pd.DataFrame(res_list).sort_values('Res')

                   Att      Res
0  201115_Reznik_1.csv  0.84674